<div class="container">


    <div class="small-gap panel panel-default">
        <div class="panel-body">
            <div class="row">

                <div class="col-xs-12">
                    <h2>Contact Details</h2>
                </div>

                <div class="col-xs-12">
                    <b>Email:</b><a style="margin-left: 5px;" href="mailto:blake@parsed.uk">blake@parsed.uk</a>
                </div>
            </div>
        </div>

        <hr class="featurette-divider"/>

        <div class="panel-body">
            <div style="">
                <div class="row">
                    <div>
                        <h2>Bio</h2>
                        <div>
                            <p>My software development experience comes from
			    <a
				    href="./site.html#work">professional work</a>, as
			    well as a wide variety of <a
				    href="./site.html#projects">personal
				    projects</a>. I have extensive knowledge of
			    JavaScript, Rust, Java, C and C++.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="featurette-divider"/>

        <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <h2>Education</h2>
                        <div>
                            <p>I started studying Computer Science at Royal
			    Holloway in 2011 and graduated with a first class
			    honours in July 2014, specialized in programming
			    languages and program analysis.</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
