<div class="container">

    <div class="small-gap panel panel-default">
        <div class="panel-body">
        <h2>
         ExpoSE - 2015 / Present
        </h2>
        <hr/>
            <div>
                <p>ExpoSE is a dynamic symbolic execution (DSE) tool for
		JavaScript with support for asynchronous events, strings, and
		complex regular expressions (including capture groups). It also
		supports concurrent test-case execution and provides detailed
		coverage statistics.</p>
                <div align="center">
                    <p>Project source code can be found <a
			    href="https://github.com/ExpoSEJS/ExpoSE/">here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="small-gap panel panel-default">
        <div class="panel-body">
        <h2>
         Z3Javascript - 2015 / 2018
        </h2>
        <hr/>
            <div>
                <p>Z3Javascript is a complete JavaScript binding generator for the <a href="https://github.com/Z3Prover/z3">Z3 Microsoft theorem prover</a> allowing it to be used in Node.js applications (with basic support for emscripten based browser usage).</p>

                <p>The project contains both a wrapper to the C bindings and a set of JavaScript wrapped classes (Expr, Model, Context) with which to construct and test theorems.</p>

                <div align="center">
                    <p>Project source code can be found <a
			    href="https://github.com/ExpoSEJS/z3javascript">here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="small-gap panel panel-default">
        <div class="panel-body">
        <h2>
		 Scribble - 2013 / 2015
		</h2>
        <hr/>
            <div>
                <p>For my university dissertation I designed and implemented a programming language and virtual machine.</p>

                <p>The language was designed to make extending existing C++ applications easier and to enable users to extend a programs functionality, increasing the usefulness of a piece of software. The implementation also attempts to reduce the likelihood of security issues by allowing developers to strictly control what functionality the virtual machine exposes to the end user through a simple interface, allowing them to control what access the scripts will have to the host platform.</p>

                <p>Scribble is strictly typed but supports a simple type inference system which allows for variable types to be inferred from their initial declaration, allowing for the benefits strictly typed languages provide to large projects without tooß much additional typed overhead. It was originally designed as a procedural language with a simple C like syntax. However as it has grown I have begun to extend it with a simple, experimental, functional style syntax which I hope to extend in the future (this is available in the feature/language_experiments branch on Github).</p>

                <p>The language and accompanying tools are primarily written in C++, the repository also contains a set of examples written in Scribble (Note: Several of these examples are not compatible with the version of the code in the feature/language_experiments branch).</p>

                <div align="center">
                    <p>Since leaving university I have continued to update the project.</p>
                    <p>More information and the full source code for the project is available <a href="http://www.github.com/jawline/Scribble/">here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="small-gap panel panel-default">
        <div class="panel-body">
        <h2>
         Annotated Type System - 2015
        </h2>
        <hr/>
            <div>

                <p>A compiler with type inference and an interface for doing analysis on the compiled code. Built on top of my LISP JIT project, this compiler contains several different analysis techniques which are used to verify program assertions or make the compiled program more efficient.</p>

                <div align="center">
                    <p>More information and the full source code for the project is available <a href="http://www.github.com/jawline/ATS/">here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="small-gap panel panel-default">
        <div class="panel-body">
        <h2>
            Kiniro - 2013 / 2015
        </h2>
        <hr/>
            <div>
                <p>For the last couple of years I have been developing a simple multi platform game engine and a game to go along with it.</p>

                <p>The project does not use any pre-built engine and handles the entire game lifecycle including asset management, rendering, audio, physics, actor logic, game world logic, and all of the other features which are commonly handled by the engine.</p>

                <p>The aim of the project was not to create the best game, but to get a firm understanding of the entire logic and lifecycle of a game engine and to try and build a solid foundation from which developing a new game would be made easy.</p>

                <p>The core engine is written in C++, using libRocket for UI, OpenGL for rendering, OpenAL for audio and Freetype for text. Several other tools have been written to assist with developing on the engine, such as a file format exporter, the majority of these tools are written in python.</p>

                <p>The game engine currently supports Linux and Android.</p>

                <div align="center">
                    <p>Link will be posted when the game is released.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="small-gap panel panel-default">
        <div class="panel-body">
        <h2>
         LISP JIT - 2015
        </h2>
        <hr/>
            <div>
                <p>I developed a LISP style language with a JIT compiler.</p>
                <p>The project was developed in C++ and includes a LL(1) parser, a AST structure and a AST -> Machine code JIT converter.</p>
                <p>The resulting language is a simple integer only language which supports recursion and function arguments.</p>
                <div align="center">
                    <p>More information and the full source code for the project is available <a href="http://www.github.com/jawline/LJIT/">here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="small-gap panel panel-default">
        <div class="panel-body">
        <h2>
        Rust SAT- 2015
        </h2>
        <hr/>
            <div>
                <p>A small project to implement a 3-sat CNF solver in Rust.</p>
                <div align="center">
                    <p>More information and the full source code for the project is available <a href="https://github.com/jawline/rust-sat/">here</a>
                    </p>
                </div>            
            </div>
        </div>
    </div>

    <div class="small-gap panel panel-default">
        <div class="panel-body">
        <h2>
         DawnOS - 2010 / 2015
        </h2>
        <hr/>
            <div>
                <p>Between my school years of twelve and thirteen I developed a x86 based operating system (OS) with a process scheduler, virtual memory manager, application loader, a defined set of system calls and a host of other features. This project was for the OCR extend project A level qualification which I completed in 2011.</p>

                <p>The project involved development of a operating system kernel and a set of utility programs, as well as the design of a set of tools designed for the OS which allow the user to interact and perform tasks. The code was primarily written in C (C99), with small amounts of assembly used in the Kernel, as well as some bash or python scripts to automate compilation and deployment of the OS.</p>

                <p>In 2014 I began working on the project again, refactoring the older code so that it complies with more modern programming standards and adding new features. I am continuing to work on the project, along with one other developer, to improve the existing code and experiment with potential kernel and OS designs.</p>


                <div align="center">
                    <p>The project is now available on github <a href="http://www.github.com/jawline/Dawn/">here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="small-gap panel panel-default">
        <div class="panel-body">
        <h2>
         SATMe - 2015
        </h2>
        <hr/>
            <div>
                
                <p>While learning about boolean satisfaction problems I implemented a 3-SAT CNF solver</p>

                <p>The solver is written in C and includes of a parser which converts a 3-SAT CNF from text into a internal data structure, and the solver which can find an allocation (if one exists) which satisfies the satisfaction problem.</p>

                <div align="center">
                    <p>More information and the full source code for the project is available <a href="http://www.github.com/jawline/Genetix/">here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="small-gap panel panel-default">
        <div class="panel-body">
        <h2>
		 Regex Parser - 2014 / 2015
		</h2>
        <hr/>
            <div>
                <p>I spent some time creating a simple regular expression matcher in C. The project converted regular expressions into a nondeterministic finite automaton (NFA) which it could use to test whether a string matched.</p>
                <div align="center">
                    <p>The project is now available on github <a href="http://www.github.com/jawline/Regex-Parser/">here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="small-gap panel panel-default">
        <div class="panel-body">
        <h2>
         Genetix - 2015
        </h2>
        <hr/>
            <div>
                <p>In order to learn the Rust programming language I decided to experiment with simple search algorithms for finding paths through a graph such as dijkstras and basic genetic search heuristics.</p>
                
                <p>While the algorithms implemented where reletively simple, the project was a great way to understand how to construct idiomatic Rust code and begin to grasp the language.</p>
                
                <div align="center">
                    <p>More information and the full source code for the project is available <a href="http://www.github.com/jawline/Genetix/">here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="small-gap panel panel-default">
        <div class="panel-body">
        <h2>
		 Molecular - 2014
		</h2>
        <hr/>
            <div>
                <p>A small web application which allows a user to quickly draw a molecule.</p>

                <p>The application is written in Javascript, using a HTML5 canvas to draw the molecules. The library ArborJS is used to handle the molecule graph and physics.</p>

                <div align="center">
                    <p>The application is available <a href="/Molecular/index.html">here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="small-gap panel panel-default">
        <div class="panel-body">
        <h2>
		 SmoothHome - 2013
		</h2>
        <hr/>
            <div>
                <p>SmoothHome is a minimal Android home screen replacement meant to hide the complexity of a smart phone and give you easy access to the things you use most.</p>

                <p>SmoothHome was developed in Java for the Android platform. The project involved learning how to handle the life cycle of a application which is always running. It also required me to develop my knowledge of the Android SDK in order to create manifests which appropriately declared Activities in such a way that the Android operating system would see them as a home screen replacement.</p>
            </div>
        </div>
    </div>

    <div class="small-gap panel panel-default">
        <div class="panel-body">
        <h2>
		 Microsoft - Student application development competition - 2012
		</h2>
        <hr/>
            <div>
                <p>I was one of a handful of students who won the third application writing competition held in 2012, the competition was to see who could write the best (Judged on how innovative, complete it was as well as how well it run) and the prize was a pool of 20 Nokia Lumia phones. For the competition I wrote three applications.
                <br/>
                <br/>
                The first application was a game called Cellz in which the user used the touch screen to direct a "Cell" in a world filled with other larger cells out to eat him and smaller cells for him to eat. The objective of the game was to eat all other cells.</p>
                <div align="center"><a class="content-link" href="http://www.windowsphone.com/s?appid=159dec6e-e7e6-435f-8874-606502672c2e">Cellz</a>
                </div>
                </br>
                <p>The second application I wrote was another game called FlyBoy, the game was a traditional arcade style space-shooter except instead of health you could only take one hit, but you had the opportunity to rewind 30 seconds of time (Total) throughout the course of your life</p>
                <div align="center"><a class="content-link" href="http://www.windowsphone.com/s?appid=073b91f3-dea1-430b-a71c-d1e3662f2209">FlyBoy</a>
                </div>
                </br>
                <p>The third application is a Expense tracking application imaginatively named Expenses. It allows you to add named transactions in and out of an account and provides a student with a easy simple way to track his expenses with none of the faff related to traditional expense keeping applications designed for older people who have to keep things like taxes etcetera in mind.</p>
                <div align="center">No deep link available - Microsofts AppHub is refusing to provide me with one</div>
                <br/>
                </p>
            </div>
        </div>
    </div>

    <div class="small-gap panel panel-default">
        <div class="panel-body">
        <h2>
		 Cool Computing Competition - 2011
		</h2>
        <hr/>
            <div>
                <p>I received a prize for the development of two applications which I entered into Royal Holloway's cool computing competition.</p>
                <p>The first was a application that could detect and store any faces that were placed in front of the camera, the idea being that it would allow an automated way to store records of people in a room, and perhaps extensible to the degree that it could be used to identify and record objects within a room (I.e. take a picture of every bottle in a room).</p>
                <p>The second was a 3D engine targeted at the Android operating system. The idea was to create an easy way to export and display models created in the Blender modelling program on an Android phone and use them in 3D applications such as games. The project involved a toolchain that could convert blender models to a custom internal format capable of being loaded on Android. It could also compress and modify image files using the Zip file format which would reduce the file size of the application. The source code of the application was written in Java whilst the toolchain was written in Python.</p>
                <p>Both of these applications ran on Android 2.1 and up - the latter used OpenGL ES 2.0</p>
            </div>
        </div>
    </div>

    <div class="small-gap panel panel-default">
        <div class="panel-body">
        <h2>
		 Crosshair - 2011
		</h2>
        <hr/>
            <div>
                <p>Crosshair was an adapted version of one of my entries for the cool computing competition. The application acted as a standalone face detection example on Android, which would outline all detected faces from the camera.</p>
            </div>
        </div>
    </div>
</div>
