<div class="container">
    <div class="small-gap panel panel-default">
	<div class="panel-body">
	    <h2>Cloudflare - 2017</h2>
            <hr class="featurette-divider"></hr>
            <div>
		I spent a summer at Cloudflare as a cryptography engineering intern. My role involved the development of an on-line analysis techniques to mitigate the known security vulnerability BREACH.
	    </div>
	</div>
   </div>
   <div class="small-gap panel panel-default">
        <div class="panel-body">
            <h2>Information Security Group, Royal Holloway - 2015 / Present</h2>
            <hr class="featurette-divider"></hr>
            <div>
                <p>I began a PhD with the Information Security Group (ISG) at Royal Holloway in September 2015 as part of the Cyber Security CDT.</p>

                <p>The CDT is set to take 4 years to complete during which I will be exposed to a wide variety of topics relating to the security of computing devices such as static and dynamic program analysis, cryptography, and network security.</p>
            </div>
        </div>
    </div>

    <div class="small-gap panel panel-default">
        <div class="panel-body">
        <h2>
		 IG - 2014 / 2015
		</h2>
        <hr class="featurette-divider"></hr>
            <div>
                <p>IG is the world-leading provider of contracts for difference (CFDs) and financial spread betting, and the UK's largest forex provider.</p>

                <p>I joined IG as a graduate developer in 2014. Over my first year there I will be working in several teams in the company, taking on a variety of different software development roles.</p>

                <p>Working at IG has given me key experience in developing large complex systems, working as a member of an agile team, and working with dependencies in extremely complex system being contributed to by many different teams. It has also given me experience with frontend development and Javascript, an area of software engineering that I had not really explored.</p>
            </div>
        </div>
    </div>

    <div class="small-gap panel panel-default">
        <div class="panel-body">
        <h2>
		  National Trust - 2013/2014
		</h2>

        <hr class="featurette-divider"></hr>

            <div>
                <p>Throughout 2013 and 2014 I was part of a small agile development team which was tasked with creating a program capable of giving historical information on walks through the Magna Carta site in preparation for the 800 year anniversary of its signing.</p>


                <p>The project required the development of a visual editor, a web frontend, an Android and iPhone application and a server backend. All of the application front ends and the editor interacted with a server which enabled us to easily create and display a large database of information about the site in a formatted way.</p>

                <p>The server also allowed the entire database to be dumped in JSON, which allowed for offline viewing of the walks, an important feature as the Magna Carta site had limited wireless data coverage.</p>
            </div>
        </div>
    </div>

    <div class="small-gap panel panel-default">
        <div class="panel-body">

        <h2>
		 Holla@Me - 2012/2013
		</h2>

        <hr class="featurette-divider"></hr>
            <div>
                <p>I developed the Android application for the <a class="content-link" href="http://www.holla.com">Holla@Me</a> social media service.</p>

                <p>The project involved user interface design to a strict project brief, maintaining a fluid user interface whilst loading content from a web server ( Via Threads and Handlers ) and maintaining a library that could interface with the HTTP/JSON API provided. The application also contains a barcode scanner to provide a method of linking users via a QR code</p>
                
                <p>The project took over three months and involved collaboration within a team of six, maintaining a fluid and consistent user interface over all the platforms the product is offered on</p>
            </div>
        </div>
    </div>

    <div class="small-gap panel panel-default">
        <div class="panel-body">
        <h2>
			BachTrack - 2012
		</h2>
        
    <hr class="featurette-divider"></hr>
            <div>
                <p>In the summer of 2011 I was hired by David Karlin of <a class="content-link" href="http://www.bachtrack.com">BachTrack</a> to assist development of a PHP based content management system.</p>

                <p>My work involved enabling the background execution and monitoring of PHP scripts, so that processes, like batch jobs, could be executed in PHP from the CMS.</p>
            </div>
        </div>
    </div>
</div>
