<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Blake Loring, software developer. My personal website">
    <meta name="author" content="Blake Loring">

    <title>Blake Loring</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/shared.css" rel="stylesheet">
    <link rel="icon" href="./img/favicon.ico">
    <! -- Yvonne was here -- >
  </head>
  <body>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="header">
            <div class="inner">
              <h3 class="brand"><a href="/">Blake Loring</a></h3>
              <nav>
                <ul>
                    ${{{NAV_BAR_CONTENT}}}
                </ul>
              </nav>
            </div>
          </div>

          <div class="container cover">
<div class="row">
              <div class="col-xs-12 col-md-2"><img class="intro-image" src="${{{img:expose.png}}}"></img></div>
              <div class="col-xs-12 col-md-10">
                <h3 class="center"><a href="/articles/ExpoSE_Practical_Symbolic_Execution_Of_Standalone_JavaScript">ExpoSE</a></h3>
                <div>JavaScript has evolved into a versatile ecosystem for not just the web, but also a wide range of server-side and client-side applications. With this increased scope, the potential impact of bugs increases. Despite this, testing tools for JavaScript have remained relatively primitive, largely due to the languages complex implementation and confusing specification.

ExpoSE is a dynamic symbolic execution (DSE) tool for JavaScript with support for asynchronous events, strings, and complex regular expressions (including capture groups). It also supports concurrent test-case execution and provides detailed coverage statistics.</div>
                <div class="more-info"><a href="${{{article:ExpoSE: Practical Symbolic Execution Of Standalone JavaScript}}}">More Info</a></div>
              </div>
            </div>
            <hr class="featurette-divider">
            <div class="row">
              <div class="col-xs-12 col-md-10">
                <h3 class="center"><a href="${{{article:A Solution To Compression Oracles on the Web - Cloudflare}}}">A Solution To Compression Oracles on the Web - Cloudflare</a></h3>
                <div>Compression is often considered an essential tool when reducing the bandwidth usage of internet services. The impact that the use of such compression schemes can have on security, however, has often been overlooked. The recently detailed CRIME, BREACH, TIME and HEIST attacks on TLS have shown that if an attacker can make requests on behalf of a user then secret information can be extracted from encrypted messages using only the length of the response. Deciding whether an element of a web-page should be secret often depends on the content of the page, however there are some common elements of web-pages which should always remain secret such as Cross-Site Request Forgery (CSRF) tokens. Such tokens are used to ensure that malicious webpages cannot forge requests from a user by enforcing that any request must contain a secret token included in a previous response.</div>
                <div class="more-info"><a href="${{{article:A Solution To Compression Oracles on the Web - Cloudflare}}}">More Info</a></div>
              </div>
	      <div class="col-xs-12 col-md-2"><img class="intro-image" src="${{{img:cf-logo.png}}}"></img></div>
            </div>
            <hr class="featurette-divider">
            <div class="row">
              <div class="col-xs-12 col-md-2"><img class="intro-image" src="${{{img:brave.png}}}"></img></div>
              <div class="col-xs-12 col-md-10">
                <h3 class="center"><a href="${{{article:Detecting Humanity - Brave Software}}}">Detecting Humanity - Brave Software</a></h3>
                <div><p>One unresolved problem with the web is the detection of bots, programs that drive a web browser to emulate human behavior. Bot detection is an issue in web development because automated tools can reduce the user experience, such as a bot which responds to Twitter posts with angry messages. During a research internship as Brave, a privacy-focused web browser, we worked on a new client-side approach to detect user humanity.</p></div>
                <div class="more-info"><a href="${{{article:Detecting Humanity - Brave Software}}}">More Info</a></div>
              </div> 
            </div>
            <hr class="featurette-divider">
            <div class="row">
              <div class="col-xs-12 col-md-10">
                <h3 class="center"><a href="${{{article:Puffer: Privacy Protection & Ad-blocking for Android}}}">Puffer</a></h3>
                <div><p>Puffer is a novel whole system privacy protector & ad-blocker for Android that outperforms existing DNS based solutions through inspection of Server Name Indication (SNI) records during initialization of TLS connections. Our solution cannot be circumvented with custom DNS resolvers or other common circumvention approaches because we inspect connections at the packet level. As such, our approach still works out of the box with browsers that use custom DNS approaches like Firefox. It also works to stop advertising in apps from circumventing ad-blockers.</p></div>
                <div class="more-info"><a href="${{{article:Scribble - Interpreted, Garbage Collected, Programming Language}}}">More Info</a></div>
              </div> 
              <div class="col-xs-12 col-md-2"><img class="intro-image" src="${{{img:puffer.png}}}"></img></div>
            </div>
            <hr class="featurette-divider">
            <div class="row center">
               <p><a class="more-info" href="http://github.com/jawline/">Click here to view my Github projects</a></p>
               <p class="more-info">Feel free to email me at <a href="mailto:blake@parsed.uk">blake@parsed.uk</a></p>  
            </div>
          </div>
          <div class="footer">
            <div>
              <p>&copy; Blake Loring 2018</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
